.box{
    text-align: center;
    background-color: blue;
    color:white;
    margin-top: 150px;
    padding: 50px;
    text-align: start;
}

.wrong{
    color:rgb(255, 88, 88);
   font:30px;
    padding:5px;
    font-weight: bold;
    
}
.output{
    color:rgb(11, 252, 11);
    
}